{%extends 'menu/index.html'%} {%load static%}
<!-- <div></div> -->
{%block mycontent%}
<form method="post" enctype="multipart/form-data">
  {%csrf_token%}
  <table>
    <tr>
      <th>Name</th>
      <th>Image</th>
    </tr>
    <tr>
      <td>
        <input
          type="text"
          name="cname"
          value="{{category.name}}"
          style="width: 30%; padding: 0.5rem; margin-left: 30%"
        />
      </td>
      <td>
        <img
          src="/media/{{category.img}}"
          alt="{{category.img}}"
          style="width: 100px"
        />
        <br />
        <input
          type="file"
          name="cimg"
          style="width: 30%; padding: 0.5rem; margin-left: 30%"
        />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input
          type="submit"
          value="Update"
          style="width: 30%; padding: 0.5rem; margin-left: 31%"
        />
      </td>
    </tr>
  </table>
  <div>
    <h1 style="color: red">{{errMsg}}</h1>
  </div>
</form>
{%endblock%}
